/*Universal Styles*/
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}



/*Flex IDs*/

#flex {
  display: flex;
}

/*Header*/
.header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;


}

.logo img {
  margin-left: 10px;
  height: 50px;
}

nav a {
  color: seashell;
  margin: 0 10px;
}

/*Banner*/
.banner {
  display: flex;
  position: relative;
  top: 70px;
  height: 700px;
  background: url("../images/img-mission-background.jpg") center no-repeat;
  align-items: center;
  justify-content: center;
}

.mission {
  width: 1200px;
}

.mission h2 {
  margin-top: 10px;
}

.mission h4 {
  margin-bottom: 10px;
}

/*Tea of the month*/
.favourites {
  display: flex;
  position: relative;
  top: 70px;
  flex-direction: column;
  align-items: center;
}

.favourites .container {
  width: 1000px;
  margin: 45px 0;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selection img {
  width: 300px;
  height: 200px;
}

.selection h4 {
  margin-top: 10px;
}

.selection.margin {
  margin-right: 50px;
}

/*Locations*/
.locations {
  display: flex;
  position: relative;
  top: 70px;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background: url("../images/img-locations-background.jpg") center no-repeat;
}

.locations .container {
  display: flex;
}

.locations h2 {
  position: relative;
  top: 75px;
  margin: 0;
}

.locations h2, .locations .container {
  background: transparent;
}

.locations .container {
  justify-content: center;
}

.boxes {
  display: flex;
  position: relative;
  top: 90px;
  width: 300px;
  height: 300px;
  margin: 0px 20px;
  opacity: 1;
  flex-direction: column;
  justify-content: space-around;
}

.boxes h3, .boxes h4 {
  margin: 0;
}

/*Contact*/

.contact {
  position: relative;
  top: 70px;
  height: 200px;

}

/*Footer*/

.footer h5 {
  position: relative;
  top: 70px;
  text-align: left;
  margin-left: 20px;
}
